version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: zara
      POSTGRES_PASSWORD: zara
      POSTGRES_DB: zara_db
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
