:root {
    --main-bg-color: #ea4046;
    --accent-color: #cc73ae;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.header-panel {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 3px solid var(--accent-color);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-panel a {
    color: inherit;
    text-decoration: none;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.header-button:hover {
    cursor: pointer;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.page-content {
    background-color: white;
    border-radius: 10px;
    border: 3px solid var(--accent-color);
    width: 60%;
    margin: 10px auto;
    padding: 20px 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.logo-image {
    max-height: 40px;
    height: auto;
    width: auto;
    object-fit: contain;
}
