.header-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.header-central-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-central-buttons div {
    margin: 0 20px;
}

.logo-image {
    height: 75%;
}
