body {
	margin: 0;
	padding: 0;
}

.main-page {
  display: grid;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr;
	transition: grid-template-columns 0.5s ease-in-out;
}

.main-page.sidebar-closed {
	grid-template-columns: 0px 1fr;
}

.left-panel {
  background-color: #4c3dc0;
}

.main-panel {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
}

.header {
  background-color: #538d58;
	display: flex;
	justify-content: space-between;
}

.header img {
	margin: 10px;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.content {
  background-color: #ffffff;
}