:root {
	--left-panel-width: 200px;
}

body {
	margin: 0;
	padding: 0;
}

.main-page {
  	display: flex;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
}

.left-panel {
	transition: margin-left 0.3s ease-in-out;
  	background-color: #4c3dc0;
	width: var(--left-panel-width);
	display: grid;
	grid-template-columns: 1fr;
	align-content: start;
}

.left-panel.sidebar-closed {
	margin-left: calc(var(--left-panel-width) * -1);
}

.left-panel a {
	color: #ffffff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	border-top: 1px solid #372c80;
	border-bottom: 1px solid #372c80;
}

.left-panel a:hover {
	color: #be2828;
	background-color: #432ecd;
}

.main-panel {
	flex-grow: 1;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
}

.header {
  	background-color: #538d58;
	display: flex;
	justify-content: space-between;
}

.header img {
	margin: 10px;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.content {
  	background-color: #b8b1b1;
}
