@import "tailwindcss";

:root {
	--left-panel-width: 200px;
}

body {
	margin: 0;
	padding: 0;
}

.main-page {
  	display: flex;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
}

.left-panel {
	transition: margin-left 0.3s ease-in-out;
	width: var(--left-panel-width);
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.left-panel.sidebar-closed {
	margin-left: calc(var(--left-panel-width) * -1);
}

.left-panel-buttons-list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.left-panel-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	padding-left: 10px;
	height: 40px;
}

.main-panel {
	flex-grow: 1;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-button {
	height: 100%;
	padding: 15px;
}
