@import "tailwindcss";

.catalog-content {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
	width: 100%;
	box-sizing: border-box;
}

.catalog-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.catalog-buttons-group {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.catalog-button {
    height: 100%;
}

.content-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.content-page-item {
    margin-bottom: 20px;
}

.content-page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-page-text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid theme('colors.gray.300');
    border-radius: 5px;
}

.content-page-input-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-page-bottom-buttons {
    display: flex;
    align-items: start;
}

.content-page-button {
    padding: 10px 20px;
    border: 1px solid theme('colors.gray.300');
    border-radius: 5px;
    cursor: pointer;
}

.content-page-number-input {
    width: 200px;
    padding: 10px;
    border: 1px solid theme('colors.gray.300');
    border-radius: 5px;
}

.content-page-file-input {
    width: auto;
    border: 1px solid theme('colors.gray.300');
    border-radius: 5px;
}

.content-page-file-input::file-selector-button {
    padding: 8px 16px;
    background-color: theme('colors.blue.500');
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.content-page-file-input::file-selector-button:hover {
    background-color: theme('colors.blue.600');
}

.content-page-file-input::file-selector-button:active {
    background-color: theme('colors.blue.700');
}
